*{
    margin: 0;
    padding: 0;

}
html{
    scroll-behavior: smooth;
}

ul{

    list-style: none;
    height: 100%;
    width: 200px;
    
    position:fixed;
    top: 0; bottom: 50px;left: 0;
    background: plum;
    box-shadow: 2px 0px 5px black;
}


ul li {
    margin: 5px;
    padding: 5px;
    margin-top: 100px;
}

ul li a{
    color: brown;
    text-decoration: none;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-right: 15px;
    margin-right: 10px; ;
}
ul li a:hover{
    background: peru;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: top;
    justify-content: center;
}


ul li a i{
    color: black;
    width: 40px;
    text-align: center;
}

.contact-form {

    height: 80%;
    width: 400px;
    background-color: antiquewhite;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
margin-top: 100px;
  }

 
  .contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .contact-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .contact-form input[type="submit"]:hover {
    background-color: #45a049;
  }
p{
    text-align: center;
    
}
  
